{% load static%}
{% include 'header.html' %}

    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/contact_hero.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>About</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- We Trusted Start-->
        <div class="we-trusted-area trusted-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-xl-7 col-lg-7">
                        <div class="trusted-img">
                            <img src="{% static 'assets/img/team/wetrusted.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <div class="trusted-caption">
                           <h2>We are more trusted then 5000 clients</h2>
<p>This website is operated by Digital Shoppy . Throughout the site, the terms “we”, “us” and “our” refer to Digital Shoppy. Digital Shoppy offers this website, including all information, tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.
</p>                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- We Trusted End-->

        <!-- Team-profile Start -->
       <div class="services-area section-padding2">
            <div class="container">
                <!-- section tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <h2>Our Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <span class="flaticon-checklist"></span>
                            </div>
                            <div class="services-caption">
                                <h4>Strategic Planning</h4>
                                <p>Strategic planning is a process in which an organization's leaders define their vision for the future and identify their organization's goals and objectives.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <span class="flaticon-audit"></span>
                            </div>
                            <div class="services-caption">
                                <h4>Trades & stocks</h4>
                                <p>Trading involves more frequent transactions, such as the buying and selling of stocks, commodities, currency pairs, or other instruments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <span class="flaticon-checklist-1"></span>
                            </div>
                            <div class="services-caption">
                                <h4>Audit & Assurance</h4>
                                <p>Assurance in auditing refers to the opinions issued by a professional regarding the accuracy and completeness of what's analyzed.</p>
                            </div>
                        </div>
                    </div>
                </div>
    </main>
{% include 'footer.html' %}
