{% load static %}
{% include 'customer_header.html' %}
    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/contact_hero.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Change password</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <form action="" method="post">
            {% csrf_token %}
            <section class="h-100">
                <div class="container h-100">
                    <div class="row justify-content-sm-center h-100">
                        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
<!--						<img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100">-->
					</div>
					<div class="card shadow-lg">
                        <div class="card-body p-5">
							<h1 >Change Password</h1>
<!--							<form method="POST" class="needs-validation" novalidate="" autocomplete="off">-->
                    <div class="form-group row">
                      <div class="mb-3">
                       <div class="mb-2 w-100">
                           <label class="text-muted" for="password">Enter old password</label>
                       </div>
                          <input id="password" type="password" class="form-control" name="password" required/>
                      </div>

                    <div class="mb-3">
                       <div class="mb-2 w-100">
                           <label class="text-muted" for="newpassword">Enter new password</label>
                       </div>
                       <input id="newpassword" type="password" class="form-control" name="newpassword" required/>
                   </div>
                        <br>

                <button type="submit" class="btn btn-primary">Change Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
    </form>
    </main>
    {{msg}}
</main>

{% include 'footer.html' %}