{% load static %}
{% include 'customer_header.html' %}
    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <img src="{% static 'assets/img/hero/digital.jpg' %}" width="100%">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
        <!-- slider Area End-->
        <!-- We Trusted Start-->


    </main>
{% include 'footer.html' %}