{% load static %}
{% include 'header.html' %}

    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="{% static 'assets/img/hero/h1_hero.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-8">
                                <div class="hero__caption">
                                    <p data-animation="fadeInLeft" data-delay=".4s">Welcome to Code Shoppy</p>
                                    <h1 data-animation="fadeInLeft" data-delay=".6s" >We help you to grow your  business</h1>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider slider-height d-flex align-items-center" data-background="{% static 'assets/img/hero/h1_hero.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-8">
                                <div class="hero__caption">
                                    <p data-animation="fadeInLeft" data-delay=".4s">Welcome to Code Shoppy</p>
                                    <h1 data-animation="fadeInLeft" data-delay=".6s" >We help you to grow your  business</h1>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Team-profile Start -->

        <!-- We Trusted End-->

        <!-- services Area Start-->
        <div class="services-area section-padding2">
            <div class="container">
                <!-- section tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <h2>Our Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <span class="flaticon-checklist"></span>
                            </div>
                            <div class="services-caption">
                                <h4>Strategic Planning</h4>
                                <p>Strategic planning is a process in which an organization's leaders define their vision for the future and identify their organization's goals and objectives.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <span class="flaticon-audit"></span>
                            </div>
                            <div class="services-caption">
                                <h4>Trades & stocks</h4>
                                <p>Trading involves more frequent transactions, such as the buying and selling of stocks, commodities, currency pairs, or other instruments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <span class="flaticon-checklist-1"></span>
                            </div>
                            <div class="services-caption">
                                <h4>Audit & Assurance</h4>
                                <p>Assurance in auditing refers to the opinions issued by a professional regarding the accuracy and completeness of what's analyzed.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- button -->
                <div class="row justify-content-center">

                </div>
            </div>
        </div>
        <!-- services Area End-->
        

        <!-- Request Back End -->

    </main>
   {% include 'footer.html' %}
   
	<!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js'%}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static './assets/js/vendor/jquery-1.12.4.min.js'%}"></script>
        <script src="{% static './assets/js/popper.min.js'%}"></script>
        <script src="{% static './assets/js/bootstrap.min.js'%}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static './assets/js/jquery.slicknav.min.js'%}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static './assets/js/owl.carousel.min.js'%}"></script>
        <script src="{% static './assets/js/slick.min.js'%}"></script>
        <!-- Date Picker -->
        <script src="{% static './assets/js/gijgo.min.js'%}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static './assets/js/wow.min.js'%}"></script>
		<script src="{% static './assets/js/animated.headline.js'%}"></script>
        <script src="{% static './assets/js/jquery.magnific-popup.js'%}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static './assets/js/jquery.scrollUp.min.js'%}"></script>
        <script src="{% static './assets/js/jquery.nice-select.min.js'%}"></script>
		<script src="{% static './assets/js/jquery.sticky.js'%}"></script>
        
        <!-- contact js -->
        <script src="{% static './assets/js/contact.js'%}"></script>
        <script src="{% static './assets/js/jquery.form.js'%}"></script>
        <script src="{% static './assets/js/jquery.validate.min.js'%}"></script>
        <script src="{% static './assets/js/mail-script.js'%}"></script>
        <script src="{% static './assets/js/jquery.ajaxchimp.min.js'%}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static './assets/js/plugins.js'%}"></script>
        <script src="{% static './assets/js/main.js'%}"></script>
        
