{% load static %}
{% include 'customer_header.html' %}
 <main>
     <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/contact_hero.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>All Projects</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End--><br>

<table align="center" border="1" cellpadding="10" cellspacing="0" width="80%">
  <thead>
     <tr>
         <th>id</th>
         <th>email</th>
         <th>title</th>
         <th>description</th>
         <th>cost</th>
         <th>technologies</th>
         <th>domain</th>
         <th>datetime</th>
         <th>likes</th>
         <th>dislikes</th>
         <th>review</th>
     </tr>
  </thead>
    <tbody>
    {% for sell in sells %}
       <tr>
           <td>{{sell.id}}</td>
           <td>{{sell.customer.email}}</td>
           <td>{{sell.title}}</td>
           <td>{{sell.description}}</td>
           <td>{{sell.cost}}</td>
           <td>{{sell.technologies}}</td>
           <td>{{sell.domain}}</td>
           <td>{{sell.datetime}}</td>
           <td><a href="../sell_likes/{{sell.id}}" class=" btn-link">Like</a>{{sell.likes}}</td>
           <td><a href="../sell_dislikes/{{sell.id}}" class=" btn-link">Dislike</a>{{sell.dislikes}}</td>
           <td><a href="/view_reviews/{{sell.id}}" class="btn-primary">ViewComment</a> <br><a href="/comment/{{sell.id}}" class="btn-danger">AddComment</a>
           </td>
           <td><a href="/sell_buy/{{sell.id}}" class="btn-dark">Buy</a> </td>



       </tr>
    {% endfor %}
    </tbody>
</table>
     <br>
     <br>
     <br>
        {% include 'footer.html' %}